@page {
  size: A4;
}

body {
  font-size: 7pt !important;
}

table {
  page-break-before: auto;
  page-break-inside: avoid;
  width: 100% !important;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

td:last-child {
  display: none;
}

textarea {
  border: 0 !important;
  border-style: none !important;
  font-size: 7pt !important;
}

td {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.ignore {
  display: none !important;
}

thead {
  display: table-header-group;
}

.togglechildren {
  display: none !important;
}

iframe {
  display: none !important;
}

input[type='checkbox'] {
  display: none !important;
}
