<!doctype html>
<html>

<head>
    <title>{{options.title}} Patch List</title>
    <link rel="stylesheet" href="/print.css" media="print" />
    <link rel="stylesheet" href="/web.css" />
</head>

<body>
    <iframe src="/menu.html"></iframe>

    <h2>{{options.title}}</h2>
    {% include 'input_patch.html' %} {% include 'output_patch.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/web.js"></script> {% if not options.color %}
    <style>
        .colour {
            display: none;
        }
    </style>
    {% endif %}
</body>

</html>