<!doctype html>
<html>

<head>
    <title>{{options.title}} Patch List</title>
    <link rel="stylesheet" href="/print.css" media="print" />
    <link rel="stylesheet" href="/web.css" />
</head>

<body>
    <iframe src="/menu.html"></iframe>

    <h2>{{options.title}}</h2>
    <pre>
        {{parser.route_source_to_route_path}}
        {{parser.channel_by_route}}
        {{parser.output_route_source}}
    </pre> {% include 'input_patch.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/web.js"></script>
</body>

</html>